// Our variables
$base-font-family: 'Dosis', sans-serif;

$text-color:#8d8d8d;

$primary-color:#e32a48;
$second-color:#545659;


$primary-color-dark:#a71f3b;

$second-color-light:#eaeaea;


$sigfox-color:#28998b;
$avnet-color:#000000;
$silab-color:#d32121;
